<div style="width: 400px;">
  <h3>Rules of the Betting system</h3>
  <ul style="list-style-type: none; padding-left: 15px; padding-right: 15px;">
    <li><p>Betting fee is 10 Euros for the whole championship</p></li>
    <li><p>Prices are: winner: 50%, 2nd: 30% and 3rd: 20% ranked by
    points. The price will be split equally between players with
    same points.</p></li>

    <li><p>Placement of special bets (team: Champion, 4 Semi
    Finalists; players: Most Valuable Player, TopScorer) is
    possible until 14. June 2018, 16:00 (CET). If there is no clear
    annoucement of MVP, the bet will not count</p></li>


      <li><p>Placement of bets is possible until 60 min before each
      individual game starts. The time left until the possibility to bet closes is
      indicated on the page. Please don't wait till the last minute! - there can be time differences between the server and your computer clock.
      We count as the result the goals after regular 90 min
      (including stoppage time). Goals in over-time or penalty
      shoot-out are not considered.</p></li>

    <li>

        <p>
        Point system: For the games you can try to predict the
        final result exactly or your get points for the correct
        tendency (win, loose, draw).
        </p>
        Awarded points for each game are:
        <table>
          <tr>
            <th>phase</th>
            <th>tendency</th>
            <th>exact</th>
          </tr>
          <tr>
            <td>group</td>
            <td>1</td>
            <td>3</td>
          </tr>
          <tr>
            <td>last 16 and quarter finals</td>
            <td>2</td>
            <td>4</td>
          </tr>
          <tr>
            <td>semi final</td>
            <td>3</td>
            <td>9</td>
          </tr>
          <tr>
            <td>3rd place game</td>
            <td>1</td>
            <td>3</td>
          </tr>
          <tr>
            <td>final</td>
            <td>4</td>
            <td>12</td>
          </tr>
        </table>
        <p></p>
        Points for the special bets are:
        <table>
          <tr><th>special bet</th><th>points</th></tr>
          <tr><td>World Champion</td><td>10</td></tr>
          <tr><td>MVP</td><td>8</td></tr>
          <tr><td>Top Scorer</td><td>8</td></tr>
          <tr><td>Semi Finalists</td><td>5 per guess</td></tr>
        </table>

    </li>
    <li><p>
         General notes:
         While we try to be professional and money is involved, glitches can happen. If you find something strange (e.g. a game that takes place earlier than in reality, please tell us)
         All database transactions are looged and fraud leads to annulment of the result.
         If you want to check for fraud, you can always save the EXCEL file of all the bets in the hour before the game starts and noone can change
         their bet anymore.
           <!--Do not change anything in this EXCEL file, because this will invalidate the cryprographic signature. -->
         </p>
         <p>
           We store your username, firstname, lastname, e-mail, and an encrypted password. In addition to this we store all your
           bets and the changes to your bets. We also send you a cookie so the site is usable. Your bets and the points you get are world viewable.
           The names of the winners will be announced to the players by e-mail.
         </p>
    </li>
  </ul>
</div>
