<h1>
   Settings
</h1>

<div>
    <div *ngIf="betterdb.getSettings().debug && userService.isAdmin()">


    <div>
      <div layout="row">
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="set date" [(ngModel)]="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-datepicker #picker startView="startView" [startAt]="startDate"></mat-datepicker>
        </mat-form-field>
        <button mat-button (click)="updateDate()" title="Submit Date"  value="Submit Date" title="Submit Time">Submit  Date</button>
      </div>
       <div layout="row">
          <div>
            <mat-form-field>
              <mat-select [(ngModel)]="hour">
                <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-select [(ngModel)]="minute">
                 <mat-option *ngFor="let minute of minutes" [value]="minute">{{minute}}</mat-option>
               </mat-select>
              </mat-form-field>
              <button mat-button (click)="updateTime()" value="Submit Time" title="Submit Time">Submit Time</button>
          </div>
        </div>
        <div>
            <button mat-button (click)="resetTime()" value="Reset Time" title="Reset Time">Reset Time</button>
        </div>
      </div>


      <div>
        <mat-form-field>
          <mat-select [(ngModel)]="df" onChange="formatChanged">
            <mat-option value="MM/dd HH:mm">MM/dd HH:mm</mat-option>
            <mat-option value="MM/dd HH:mm">MM/dd HH:mm:ss</mat-option>
            <mat-option value="MM/dd HH:mm">yyyy MM/dd HH:mm:ss</mat-option>
            <mat-option value="MM/dd HH:mm">yyyy MM/dd HH:mm:ss,sss</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  </div>


  <div *ngIf="userService.isAdmin()">
    <mat-form-field>
      <input matInput placeholder="mailpassword" name="mailpassword" [(ngModel)]="mailpassword" type="password" required>
    </mat-form-field>
    <button mat-button (click)="setMailPassword()" value="Set Mail Password">Set Mail Password</button>
  </div>


</div>
