/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink.css";

@import "~flag-icon-css/css/flag-icon.css";

.betterlist {
  list-style-type: none;
}

.item-odd {
  background: white;
}

.item-even {
  background-color: #e6f2ff;
}


