<div fxLayoutAlign="center end"  fxLayout.gt-xs="row" fxLayout.xs="column">
          <div>
              <button mat-menu-item  [routerLink]="['/users']" [disabled]="usersDisabled()">users</button>
          </div>
          <div>
              <button mat-menu-item  [routerLink]="['/games']" [disabled]="gamesDisabled()">games</button>
          </div>
          <div><!-- TODO combine these into vertica/horizontal -->
              <div>
                <button mat-menu-item  [routerLink]="['/passwordRequest']" [disabled]="passwordDisabled()">password</button>
              </div>
              <div>
                  <button mat-menu-item  [routerLink]="['/statistics']" [disabled]="statsDisabled()">stats</button>
              </div>
              <div>
                 <button mat-menu-item  [routerLink]="['/statistics']" [disabled]="statsDisabled()">excel</button>
              </div>
              <div>
                <button mat-menu-item  [routerLink]="['/rules']" [disabled]="rulesDisabled()">rules</button>
              </div>
          </div>
          <div *ngIf="userService.getUser()"  fxLayout.gt-xs="row" fxLayout.xs="column">
               <div>
                   <a [routerLink]="['/user', userService.getUser().username, 'bets']">
                          <img src="{{ userService.getUser().iconurl+'&s=37' }}" alt="{{userService.getUser().username}}"/>
                   </a>
               </div>
               <div>
                  <button mat-menu-item  color="accent" [routerLink]="['/user', userService.getUser().username, 'bets']" [disabled]="betsDisabled()">
                      my bets</button>
               </div>
               <div>
                   <button mat-menu-item  [routerLink]="['/user', userService.getUser().username, 'special']" [disabled]="specialDisabled()">
                     special bets
                   </button>
               </div>
               <div *ngIf="userService.isAdmin()">
                 <div>
                     <button mat-menu-item  [routerLink]="['/admin/register']" [disabled]="registerDisabled()">
                        register user
                     </button>
                 </div>
                 <div>
                     <button mat-menu-item  [routerLink]="['/admin/mail']" [disabled]="mailDisabled()">
                        mail
                     </button>
                 </div>
                 <div>
                     <button mat-menu-item  [routerLink]="['/admin/settings']" [disabled]="settingsDisabled()">
                        settings
                     </button>
                 </div>
              </div>
               <div>
                   <button mat-menu-item  type="submit" value="submit"  title="logout" (click)="logout()">
                       logout
                   </button>
               </div>
          </div>
          <div *ngIf="! userService.getUser()" fxLayout.gt-xs="row" fxLayout.xs="column">
            <div>
               <button mat-menu-item  [routerLink]="['/login']" [disabled]="loginDisabled()">
                  login
              </button>
             </div>
          </div>
          <div> <!-- time is always here -->
            <button mat-menu-item  type="submit" [disabled]=true>
             {{ this.timerService.getTime() | date :  "HH:mm" }}
            </button>
          </div> <!-- date only in debug -->
          <div *ngIf="isDebug()">
            {{ this.timerService.getTime()  | date : "dd/MM/yy"}}
         </div>
</div>
