<div class="betView">
  <mat-form-field class="betInput">
    <mat-select [(ngModel)]="result.team1" onChange="changed1()" [disabled]="disabled()" ariaLabel="goals team1">
      <mat-option *ngFor="let point of points" [value]="point">{{point}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="betInput">
    <mat-select [(ngModel)]="result.team2" onChange="changed2()" [disabled]="disabled()" ariaLabel="goals team2">
      <mat-option *ngFor="let point of points" [value]="point">{{point}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button (click)="saveBet()" [disabled]="false">
    <mat-icon ariaLabel="save bet">sync</mat-icon>
  </button>
  <span *ngIf="gameresult.isSet" matBadge={{bet.points}} matBadgeOverlap="false" matBadgeSize="large"></span> <!-- originalBet.points -->
  <!-- just for designing remove because of top span matBadge={{bet.points}} matBadgeOverlap="false" matBadgeSize="large"></span-->
</div>
