<div ng-if="vm.canBet" style="vertical-align:top;">
    <md-input-container>
       <!--input class="betCell" aria-label="goals team1" type="number" min="0" max="30" ng-minlength="1" ng-maxlength="2" ng-change="vm.markBet(bet)" ng-model="bet.result.goalsTeam1" ng-disabled="true"/-->
       <md-select ng-model="bet.result.goalsTeam1" aria-label="goals team1" ng-change="vm.markBet(bet)" ng-diabled="vm.disabled">
           <md-option ng-value="nr" ng-repeat="nr in vm.points">{{ nr }}</md-option>
       </md-select>
    </md-input-container>
    <md-input-container>
       <md-select ng-model="bet.result.goalsTeam2" aria-label="goals team2"  ng-change="vm.markBet(bet)" ng-diabled="vm.disabled">
           <md-option ng-value="nr" ng-repeat="nr in vm.points">{{ nr }}</md-option>
       </md-select>
    
       <!--input class="betCell" aria-label="goals team2" type="number" min="0" max="30" ng-minlength="1" ng-maxlength="2" ng-change="vm.markBet(bet)" ng-model="bet.result.goalsTeam2" ng-disabled="true"/-->
   </md-input-container>
   <md-button type="button" aria-label="save" class="md-raised saveButton" ng-click="vm.saveBet(bet)" ng-disabled="vm.disableSave">
          <ng-md-icon icon="save" ng-style="vm.saveStyle"  size="20"></ng-md-icon>
    </md-button>
</div>

