<div ng-if="vm.canBet(start, bet)" style="vertical-align:top;">
    <md-input-container>
       <input class="betCell" type="number" min="0" max="30" ng-minlength="1" ng-maxlength="2" ng-change="vm.markBet(bet)" ng-model="bet.result.goalsTeam1" ng-disabled="vm.disabled"/>
    </md-input-container>
    <md-input-container>
       <input class="betCell" type="number" min="0" max="30" ng-minlength="1" ng-maxlength="2" ng-change="markBet(bet)" ng-model="bet.result.goalsTeam2" ng-disabled="vm.disabled"/>
   </md-input-container>
   <md-button type="button" ng-class="saveButton(bet)" ng-click="vm.saveBet(bet)" ng-disabled="vm.disabled"><i class="fa fa-floppy-o fa-lg"></i></md-button> <!-- class ="md-raised + enabled"-->
</div>
<div ng-if="! vm.canBet(start, bet)"> <!--todo: go from enable => save icon => double check mark for save-->
  {{vm.prettyBet(bet)}}   <!--todo: like above but disabled! -->
</div>
