<div ng-if="$root.canBet(start, $root.currentTime, bet)" style="vertical-align:top;">
  <input class="betCell" type="number" min="0" max="30" 
  ng-minlength="1" ng-maxlength="2" ng-change="markBet(bet)"
  ng-model="bet.result.goalsTeam1" ng-disabled="disabled"/>
  <input class="betCell" type="number" min="0" max="30" 
  ng-minlength="1" ng-maxlength="2" ng-change="markBet(bet)"
  ng-model="bet.result.goalsTeam2" ng-disabled="disabled"/>
  <button type="button" ng-class="saveButton(bet)" ng-click="saveBet(bet)" ng-disabled="disabled"><i class="fa fa-floppy-o fa-lg"></i></button>
</div>
<div ng-if="! $root.canBet(start, $root.currentTime, bet)">
  {{prettyBet(bet)}}
</div>
