<h3>{{formUser.username}}</h3>
<img ng-src="{{formUser && formUser.iconurl+'&s=80'}}" alt="gravatar" height="80" width="80"/>


<tabset>
    <tab heading="chage password">
		<form class="form col-xs-5" name="passwordForm" role="form">
			<div class="form-group">
			  <label for="password1">password</label>
			  <input id="password1" name="password1"  type="password" class="form-control" ng-model="pass.word1" 
			  required ng-minlength="6" />
			  <span class="help-block" ng-show="passwordForm.password1.$error.required">required</span>
			  <span class="help-block" ng-show="passwordForm.password1.$error.identical">passwords don't match</span>
			  <span class="help-block" ng-show="passwordForm.password1.$error.minlength">length at least 6</span>
			</div>
			<div class="form-group">
			  <label for="password">password</label>
			  <input id="password2" name="password2" type="password" class="form-control" ng-model="pass.word2" required ui-validate="{identical: '$value == password1' }" ui-validate-watch=" 'pass.word1' "/>
			  <span class="help-block" ng-show="passwordForm.password2.$error.required">required</span>
			  <span class="help-block" ng-show="passwordForm.password2.$error.identical">passwords don't match</span>
			</div>
			<div class="form-group">	
		       <button type="submit" class="btn btn-primary pull-right" ng-click="updatePassword()" value="Submit" title="Submit" ng-disabled="!passwordForm.$valid">Submit</button>
			</div>
		</form>
   </tab>

   <tab heading="change details">
		<form class="form col-xs-5" name="updateForm" role="form">
			<div class="email">
			  <label for="email">email</label>
			  <input id="email" name="email" type="email" class="form-control" ng-model="formUser.email"	
			  required />
			  <span class="help-block" ng-show="updateForm.email.$error.required">Please add a valid e-mail adress so we can notify you of problems</span>
			</div>
		    <div class="form-group">
		      <label for="firstname">first name</label>
		      <input id="firstname" name="firstname" type="text" class="form-control" ng-model="formUser.firstName" />
		    </div>
		    <div class="form-group">
		      <label for="lastname">last name</label>
		      <input id="lastname" name="lastname" type="text" class="form-control" ng-model="formUser.lastName" />
		    </div>
		    <div class="form-group">
		      <label for="icondefault">default icontype</label>
		      <select id="icondefault" ng-model="formUser.icontype" class="form-control">
			      <option>mm</option>
			      <option>identicon</option>
			      <option>monsterid</option>
				  <option>wavatar</option>
				  <option>retro</option>
				  <option>blank</option>
			  </select>
		    </div>
			<div class="form-group">	
		       <button type="submit" class="btn btn-primary pull-right" ng-click="updateDetails()" value="Submit" title="Submit">Submit</button>
			</div>
		<form>
  </tab>
</tabset>