<h2>download</h2>
<p>You can always check for correctness of the game by downloading the excel file after bet closing to compare the bets.</p>
<p>Please don't modify the filename or the content of the files if you want to file a complaint. The filename contains a validation string for the unaltered file.</p>

<p><a href="api/statistics/excel">download all data</a></p>

<!--h2>verify</h2>
<p>You can verify the integrity of the excel file by uploading it and entering the filename below</p>
		<form class="form col-xs-5" name="uploadForm" role="form">
			<div class="form-group">
			  <label for="filename">filename</label>
			  <input id="filename" name="filename"  type="filename" class="form-control" ng-model="filename" required ng-minlength="20" />
			  <span class="help-block" ng-show="uploadForm.password1.$error.required">required</span>
			</div>
			<div class="form-group">
			  <label for="file">file</label>
			  <input id="file" name="file"  type="file" class="form-control" required/>
			  <span class="help-block" ng-show="upload">required</span>
			</div>
			<div class="form-group">	
		       <button type="submit" class="btn btn-primary pull-right" ng-click="upload()" value="Submit" title="Submit" ng-disabled="!uploadForm.$valid">Upload</button>
			</div>			
        </form-->

	

