   <h1>{{currentTime | date : 'medium' }}</h1>
  
   <table ng-table="tableParams" class="table">
        <tr ng-repeat="gb in $data">
            <td data-title="'nr'" sortable="'game.nr'">
                <a href='#/game/{{gb.game.nr}}'>{{gb.game.nr}}</a>
            </td>
			<td data-title="'team1'" sortable="'team1.name'">
			    {{gb.team1.name}}
			</td>
			<td data-title="'team2'" sortable="'team2.name'">
			    {{gb.team2.name}}
			</td>
			<td data-title="'bet closes'" sortable="'game.serverStart'">
				{{timeLeft(gb.game.serverStart, currentTime)}}
			</td>
            <td data-title="'level'" sortable="'level.name'">
				{{gb.level.name}}
			</td>
            <td data-title="'local start'" sortable="'game.serverStart'">
                {{gb.game.localStart | date: df }}
            </td>
            <td data-title="'server start'" sortable="'game.serverStart'">
                {{gb.game.serverStart | date: df }}
            </td>
			<td data-title="'points'">
				{{gb.level.pointsExact}}/{{gb.level.pointsTendency}}
			</td>
        </tr>
   </table>

  
