<h3>currently only setting of results is possible</h3>
<p>depending on necessity changing of dates, teams will be implemented</p>
<form class="form col-xs-3" role="form">
    <ul class="list-group">
       <li class="list-group-item list-group-item-heading">
         {{gwt.game.nr}}  {{gwt.team1.name}}:{{gwt.team2.name}} {{gwt.level.name}}
       </li>
       <li class="list-group-item">
         bet close {{timeLeft(gwt.game.serverStart, currentTime)}} 
       </li>
	   <li class="list-group-item">
		 local: {{gwt.game.localStart | date: DF }} server: {{gwt.game.serverStart | date: DF }}	
	  </li>	
    </ul>
	
    <div class="form-group">
	  <input class="betCell" type="number" min="0" max="30" 
	  ng-minlength="1" ng-maxlength="2" 
	  ng-model="gwt.game.result.goalsTeam1"/>
	  <input class="betCell" type="number" min="0" max="30" 
	  ng-minlength="1" ng-maxlength="2" 
	  ng-model="gwt.game.result.goalsTeam2"/>
	</div>
	<div class="form-group">	
       <button type="submit" class="btn btn-primary pull-right" ng-click="submitResult()" value="Submit" title="Submit">Submit</button>
	</div>
</form>