<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">User bets for: Game {{gwt.game.nr}} {{gwt.team1.name}}:{{gwt.team2.name}} {{gwt.level.name}} server start: {{gwt.game.localStart | date: DF}} bet closes {{timeLeft(gwt.game.serverStart, currentTime)}}</div>



   <!-- this is the users table with bets for this game for each user added -->
   <table ng-table="tableParams" class="betterlist" show-filter="false">
        <tr ng-repeat="bu in $data">
            <td data-title="'user'" sortable="'username'">
                <a href='#/user/{{user.username}}'>{{bu.user.username}}</a>
            </td>
            <td data-title="'firstname'" sortable="'firstName'">
                {{bu.user.firstName}}
            </td>
            <td data-title="'lastname'" sortable="'lastName'">
                {{bu.user.lastName}}
            </td>
            <td data-title="'points total'" sortable="'totalPoints'">
                {{bu.user.totalPoints}}
            </td>
            <td data-title="'bet'">
				//if can bet: 
				select 
				else string: if isSet: x:Y else -:-
                {{bu.bet.result.goalsTeam1}} //select!!  {{bu.bet.goalsTeam2}}
            </td>
            <td data-title="'points bet'" sortable="'bu.bet.points'">
                {{bu.bet.points}}
            </td>
   </table>
</div>