<form class="form col-xs-3" name="loginForm" role="form">
   <div class="form-group">
      <label for="username">username</label>
      <input type="text" name="username" id="username" data-ng-model="username" class="form-control" required autofocus placeholder="username"/> 
    </div>
    <div class="form-group">
       <label for="password">password</label>
       <input type="password" data-ng-model="password" class="form-control" id="password" name="password" placeholder="password" required/>
	   <span class="help-block" ng-show="loginForm.password.$error.required">required</span>
     </div>
	<div class="form-group">
	   <button title="Submit" type="submit" class="btn btn-primary pull-right" ng-click="login()" ng-disabled="!loginForm.$valid">Submit</button>
    </div>
</form>