<form class="form col-xs-3" role="form">
    <div class="form-group">
      <label for="timeformat">global time format</label>
      <select id="timeformat" type="text" ng-model="DF" class="form-control" ng-change="setFormat()">
	      <option>MM/dd HH:mm</option>
	      <option>MM/dd HH:mm:ss</option>
	      <option>yyyy MM/dd HH:mm:ss</option>
		  <option>yyyy MM/dd HH:mm:ss,sss</option>
	  </select>
    </div>
	<!--div ng-if="betterSettings.debug"-->
	    <div class="form-group">
	      <label for="refresh">time refresh interval (ms)</label>
		  <input id="refresh" type="number" ng-model="updateInterval" class="form-control" ng-change="setUpdateinterval()">
	    </div>
		<div class="form-group">
		      <label for="dateselect">date</label>	
		      <p id="dateselect" class="input-group">
		        <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="globaldate" is-open="opened" ng-change="updateDate()"/>
		             <span class="input-group-btn">
		                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		             </span>
		      </p>
	    </div>
		<div class="form-group">
		      <label for="timeselect">time</label>	
		      <p id="timeselect" class="input-group">
				<timepicker ng-model="globaltime" ng-change="updateTime()" hour-step="1" minute-step="1" show-meridian="false"></timepicker>
		      </p>
	    </div>
		
		
		
		<!--/div-->
<form>

