<ul>
 <li>
username: {{params.username}}
  </li>
  <li>
username: {{user.username}}
  </li>
  <li>
  lastname: {{user.lastName}}
  </li>
  <li>
  email: {{user.email}}
  </li>
</ul>
<!--
<ul>
 <li>
 mvp: {{specialBet.mvp}}
 </li>
</ul>
-->



  <!-- this is the games table with bets for each game added -->
   <table ng-table="tableParams" class="table">
        <tr ng-repeat="gb in $data">
            <td data-title="'nr'" sortable="'gb.game.game.nr'">
                <a href='#/game/{{gb.game.game.nr}}'>{{gb.game.game.nr}}</a>
            </td>
            <td data-title="'local start'" sortable="'time'">
                {{gb.game.game.localStart | date : 'medium'}}
            </td>
            <td data-title="'server start'" sortable="'time'">
                {{gb.game.game.serverStart | date : 'medium'}}
            </td>
			<td data-title="'team1'" sortable="'gb.game.team1.name'">
			    {{gb.game.team1.name}}
			</td>
			<td data-title="'team2'" sortable="'gb.game.team2.name'">
			    {{gb.game.team2.name}}
			</td>
            <td data-title="'level'" sortable="'gb.game.level.name'">
				{{gb.game.level.name}}
			</td>
			<td data-title="'points'">
				{{gb.game.level.pointsExact}}/{{gb.game.level.pointsTendency}}
			</td>
			<td data-title="'bet'">
				{{gb.bet.result.goalsTeam1}}
			</td>
        </tr>
   </table>
  

  