<form class="form col-xs-5" name="userEditForm" role="form">
  <ul class="list-group">
     <li class="list-group-item">
       {{user.username}}  <span class="badge">{{user.points}}</span>
     </li>
     <li class="list-group-item">
       {{user.firstName}} {{user.lastName}}
     </li>
	 <li class="list-group-item">
		<img src="{{user.iconurl}}&s=80"/>
	       <button type="submit" class="btn btn-primary pull-right" ng-click="$state.transitionTo('editUser', {'username': user.username})" value="Submit" title="Edit">Edit</button>
	 </li>
  </ul>
  

</form>
  

  <!-- this is the games table with bets for each game added -->
   <table ng-table="tableParams" class="table">
        <tr ng-repeat="gb in $data">
            <td data-title="'nr'" sortable="'gb.game.game.nr'">
                <a href='#/game/{{gb.game.game.nr}}'>{{gb.game.game.nr}}</a>
            </td>
            <td data-title="'local start'" sortable="'game.game.serverStart'">
                {{gb.game.game.localStart | date : 'medium'}}
            </td>
            <td data-title="'server start'" sortable="'game.game.serverStart'">
                {{gb.game.game.serverStart | date : 'medium'}}
            </td>
			<td data-title="'team1'" sortable="'gb.game.team1.name'">
			    {{gb.game.team1.name}}
			</td>
			<td data-title="'team2'" sortable="'gb.game.team2.name'">
			    {{gb.game.team2.name}}
			</td>
            <td data-title="'level'" sortable="'gb.game.level.name'">
				{{gb.game.level.name}}
			</td>
			<td data-title="'points'">
				 <span class="badge">{{gb.game.level.pointsExact}}/{{gb.game.level.pointsTendency}}</span>
			</td>
			<td data-title="'bet'">
				{{gb.bet.result.goalsTeam1}}
			</td>
        </tr>
   </table>
  

  