<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">All Users</div>
   <table ng-table="tableParams" class="betterlist" show-filter="false">
        <tr ng-repeat="uuser in $data">
            <td data-title="'icon'">
				<a ui-sref="user.userBets({ username: uuser.username})">
					<img ng-src="{{uuser && uuser.iconurl+'&s=23'}}" alt="gravatar" width="23" height="23"/>
				</a>
			</td>
			<td data-title="'user'" sortable="'username'">
                <a ui-sref="user.userBets({ username: uuser.username})">{{uuser.username}}</a>
            </td>
            <td data-title="'points total'" sortable="'totalPoints'">
                <span class="badge">{{uuser.totalPoints}}</span>
            </td>
            <td data-title="'points games'" sortable="'pointsGames'">
                <span class="badge">{{uuser.pointsGames}}</span>
            </td>
            <td data-title="'points special'" sortable="'pointsSpecialBet'">
                <span class="badge">{{uuser.pointsSpecialBet}}</span>
            </td>
        </tr>
   </table>
</div>


