
   <table ng-table="tableParams" class="table">
        <tr ng-repeat="user in $data">
            <td data-title="'user'" sortable="'username'">
                <a href='#/user/{{user.username}}'>{{user.username}}</a>
            </td>
            <td data-title="'firstname'" sortable="'firstName'">
                {{user.firstName}}
            </td>
            <td data-title="'lastname'" sortable="'lastName'">
                {{user.lastName}}
            </td>
            <td data-title="'points total'" sortable="'totalPoints'">
                {{user.totalPoints}}
            </td>
            <td data-title="'points games'" sortable="'pointsGames'">
                {{user.pointsGames}}
            </td>
            <td data-title="'points special'" sortable="'pointsSpecialBet'">
                {{user.pointsSpecialBet}}
            </td>
        </tr>
   </table>



