<form name="specialBetsForm" class="form col-xs-3" role="form">
   <h2>special bets {{user.username}}</h2>
   <h3 ng-if="! user.hadInstructions()">you can change these <em>only until</em> start of the games (~ -2 hours)</h3>
   <table ng-table="tableParams" class="table">
        <tr ng-repeat="bet in $data" >
			<td data-title="'name'">
                 {{bet.template.name}}
            </td>
			<td data-title="'reward'">
				 {{bet.template.points}}
			</td>
			<td data-title="'description'">
				 {{bet.template.description}}
			</td>
			<td data-title="'prediction'">
				 {{bet.bet.prediction}}
			</td>
			<td data-title="'points'">
                 {{bet.bet.points}}
			</td>
			<td nf-if="isOwner(user.id)" data-title="'change'">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="change(bet)"><i class="fa fa-plus-square fa-lg"></i></button>
                </span>
			</td>
		</tr>
   </table>
</form>  