
<div class="userView" style="width: {{width}};" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row">
    <a [routerLink]="['/user/', user.username, 'bets']">
      <img src="{{ user.iconurl+'&s=25' }}" alt="{{user.username}}" class="md-avatar" *ngIf="user.iconurl" style="margin: 0px 2px 0px 10px; border-radius: 50%;"/>
      {{user.username}}
    </a>
    <div>
      <span matBadge={{user.totalPoints}} matBadgeOverlap="false"></span>
      <span matBadge={{user.pointsGames}} matBadgeOverlap="false"></span>
      <span matBadge={{user.pointsSpecialBet}} matBadgeOverlap="false"></span>
    </div>
    <mat-icon class="material-icons md-20 red" *ngIf="! user.canBet">do_not_disturb</mat-icon>
    <mat-icon class="material-icons md-20 green" *ngIf="user.canBet">check_circle</mat-icon>
  </div>
  <button mat-button color="accent" type="submit" value="Submit" title="special bets" [routerLink]="['/user', user.username, 'special']" *ngIf="full">
     special bets
  </button>
</div>
