<div layout-align="center end"  layout-gt-xs="row" layout-xs="column">
       <span ng-if="vm.userService.isLoggedIn()"  layout-gt-xs="row" layout-xs="column">
           <a ui-sref= "user.userEdit({'username': vm.userService.loggedInUser.username})">
                   <img ng-src="{{ vm.userService.loggedInUser.iconurl+'&s=37' }}" alt="{{vm.userService.loggedInUser.username}}" style="margin: 6px 0px 6px 10px; border-radius: 50%;"/>
           </a>
           <div>
              <md-button type="submit" value="bets" class="md-raised" title="bets" aria-label="bets" ui-sref="user.userBets({'username': vm.userService.loggedInUser.username})" ng-disabled="vm.betsDisabled()">my bets</md-button>
           </div>
           <div>
              <md-button type="submit" value="games" class="md-raised" title="games" aria-label="games" ui-sref="games" ng-disabled="vm.gamesDisabled()">games</md-button>
           </div>
           <div>
              <md-button type="submit" value="users" class="md-raised" title="users" aria-label="users" ui-sref="users" ng-disabled="vm.usersDisabled()">users</md-button>
           </div>
           <div>
               <md-button type="submit" value="Submit"  class="md-raised" title="Special Bets" ui-sref="user.specialBets({'username': vm.userService.loggedInUser.username})" ng-disabled="vm.specialDisabled()">
                 Special Bets
               </md-button>
           </div>
           <div>   
               <md-button type="submit" value="Submit"  class="md-raised" title="Register User" ui-sref="admin.registerUser" ng-disabled="vm.registerDisabled()" ng-if="vm.userService.loggedInUser.isAdmin">
                  Register User
               </md-button>
           </div>
           <div>       
               <md-button type="submit" value="Submit"  class="md-raised" title="Logout" ui-sref="logout">
                   Logout
               </md-button>
           </div>
           <div>
              <md-button type="submit" value="plots"  class="md-raised" title="plots" ui-sref="statistics.plots" ng-disabled="vm.statsDisabled()">
                 stats
              </md-button>
            </div>
      </span>        
       <span ng-if="! vm.userService.isLoggedIn()" layout-gt-xs="row" layout-xs="column">
           <div>
              <md-button type="submit" value="plots"  class="md-raised" title="plots" ui-sref="statistics.plots" ng-disabled="vm.statsDisabled()">
                  stats
              </md-button>
          </div>
          <div>
             <md-button type="submit" value="Submit"  class="md-raised" title="Login" ui-sref="login" ng-disabled="vm.loginDisabled()">
                Login
            </md-button>
         </div>
       </span>
       <span>
           {{ vm.currentTime() | date :  "HH:mm" }}
        </span>
       <span ng-if="vm.isDebug()">
            &nbsp{{ vm.currentTime()  | date : "dd-MM-yy"}}    
       </span>
</div>
