<md-toolbar layout="column" class="mainMenu" ng-if="vm.large">
       <better-menu-bar></better-menu-bar>
       <div ng-transclude></div>
</md-toolbar>



 <div ng-if="! vm.large"  class="mainMenu">  
   <md-sidenav md-component-id="left" class="md-sidenav-left" style="width: 154px; min-width: 154px; background-color:  #01579b;">
         <better-menu-bar></better-menu-bar>
   </md-sidenav>
   <md-toolbar style="position: relative;" layout="column">
     <button type="button" aria-label="menu" ng-click="vm.openLeftMenu()" style="position:absolute;  top:2px; right:2px; border-radius: 50%; background-color:  #01579b; border: 0px;">
           <ng-md-icon icon="menu" size="48" style="fill: white;" view-box="0 0 48 48"></ng-md-icon>
     </button>
     <div ng-transclude></div>
   </md-toolbar>
</div>

