<div class="gameView">
    <div>
         <a [routerLink]="['/game/bets', gwt.game.nr]">
           <span class="flag-icon flag-icon-{{gwt.team1.short2}}"></span><span class="flag-icon flag-icon-{{gwt.team2.short2}}"></span>  {{gwt.team1.name}} : {{gwt.team2.name}}
         </a>
         <mat-icon class="material-icons md-20 red" *ngIf="gwt.game.nextGame">whatshot</mat-icon>
         <span *ngIf="! gameClosed()">  {{gwt.game.serverStart | date : DF}}, {{timeLeft(gwt.game.serverStart)}}</span>
         <span *ngIf="gameClosed() && ! resultSet">closed, no result</span>
         <span *ngIf="gameClosed() && resultSet">{{prettyResult()}}</span>
         <!--game-bets-popup gwt="gwt"></game-bets-popup-->
         <!--span *ngIf="expand" matBadge={{gwt.level.pointsExact}}/{{gwt.level.pointsTendency}}>&nbsp&nbsp{{gwt.level.name}}</span-->
         <button *ngIf="allowEdit()" mat-raised-button type="submit" value="Submit"  title="set result"  [routerLink]="['/game/edit', gwt.game.nr]">
              set result
         </button>
     </div>
</div>
