<div class="gameView" layout="row">
    <div>
         <a ui-sref="game.gameBets({ gamenr: gwt.game.nr })">
              <better-flag iso=gwt.team1.short2></better-flag><better-flag iso=gwt.team2.short2></better-flag>  {{gwt.team1.name}} : {{gwt.team2.name}}  
         </a>
         <ng-md-icon icon="whatshot" style="fill: red;"  size="20" ng-if="gwt.game.nextGame == true"></ng-md-icon>
         <span ng-if="! vm.gameClosed()">
                    <span>  {{gwt.game.serverStart | date : vm.DF}}, {{vm.timeLeft(gwt.game.serverStart)}}</span>
         </span>
         <span ng-if="vm.gameClosed() && !vm.resultSet">
                   <span>closed, no result</span>
          </span>
          <span ng-if="vm.gameClosed() && vm.resultSet">
                  <span>vm.prettyResult()</span>
          </span>
          <span ng-if="vm.expand">
                 &nbsp&nbsp{{gwt.level.name}} <span class="badge badge-points">{{gwt.level.pointsExact}}/{{gwt.level.pointsTendency}}</span>
          </span>    
      	  <span ng-if="allowedit && vm.isAdmin && vm.expand && vm.gameClosed()">
                  <md-button type="submit" value="Submit"  class="md-raised" title="Edit Game"  ui-sref="game.gameEdit({'gamenr': gwt.game.nr })">
                      Edit Game
                  </md-button>
          </span>
     </div>
</div>
