<div class="gameView">
 <a ui-sref="game.gameBets({ gamenr: game.game.nr })">
    <better-flag iso=game.team1.short2></better-flag><better-flag iso=game.team2.short2></better-flag>  {{game.team1.name}} : {{game.team2.name}}</a>
<span ng-if="! vm.gameClosed">
      <span>  {{game.game.serverStart | date : vm.DF}}, {{vm.timeLeft(game.game.serverStart)}}</span>
</span>
<span ng-if="vm.gameClosed && !vm.resultSet">
      <span>closed, no result</span>
</span>
<span ng-if="vm.gameClosed && vm.resultSet">
      <span>vm.prettyResult()</span>
</span>
</div>
