<div class="gameView">
    <div>
         <a ui-sref="game.gameBets({ gamenr: gwt.game.nr })">
              <better-flag iso=gwt.team1.short2></better-flag><better-flag iso=gwt.team2.short2></better-flag>  {{gwt.team1.name}} : {{gwt.team2.name}}
         </a>
         <span ng-if="! vm.gameClosed()">
                    <span>  {{gwt.game.serverStart | date : vm.DF}}, {{vm.timeLeft(gwt.game.serverStart)}}</span>
         </span>
         <span ng-if="vm.gameClosed() && !vm.resultSet">
                   <span>closed, no result</span>
          </span>
          <span ng-if="vm.gameClosed() && vm.resultSet">
                  <span>vm.prettyResult()</span>
          </span>
          <span ng-if="vm.expand">
                 &nbsp&nbsplevel: {{gwt.level.name}} reward: <span class="badge">{{gwt.level.pointsExact}}/{{gwt.level.pointsTendency}}</span>
          </span>    
      	  <span ng-if="vm.isAdmin && vm.expand && vm.gameClosed()">
              <a ui-sref="game.gameEdit({'gamenr': gwt.game.nr })">
                  <md-button type="submit" value="Submit"  class="md-raised" title="Edit Game">Edit Game</md-button>
              </a>
          </span>
     </div>
</div>
