<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Better WM2014</title>
  <link rel="stylesheet" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")">
  <link rel="stylesheet" href="@routes.Assets.at("lib/angular-ui/angular-ui.min.css")">
  <link rel="stylesheet" href="@routes.Assets.at("lib/angularjs/angular-csp.css")">
  <link rel="stylesheet" href="@routes.Assets.at("lib/ng-table/ng-table.css")">
  <script data-main="@routes.Assets.at("js/main.js")" src="@routes.Assets.at("lib/requirejs/require.js")"></script>
</head>
<body class="container">
  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WM2014</a>
    </div>
    
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{active: $state.includes('users')}"><a ui-sref="users">users</a></li>
		<li ng-class="{active: $state.includes('games')}"><a ui-sref="games">games</a></li>
     </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div ui-view></div><!-- for sref above --->
    <!-- We'll also add some navigation: -->




    




</body>
</html>
