<div ng-if="vm.canBet(start, bet)" style="vertical-align:top;">
  <input class="betCell" type="number" min="0" max="30" 
  ng-minlength="1" ng-maxlength="2" ng-change="vm.markBet(bet)"
  ng-model="bet.result.goalsTeam1" ng-disabled="vm.disabled"/>
  <input class="betCell" type="number" min="0" max="30" 
  ng-minlength="1" ng-maxlength="2" ng-change="markBet(bet)"
  ng-model="bet.result.goalsTeam2" ng-disabled="vm.disabled"/>
  <button type="button" ng-class="saveButton(bet)" ng-click="vm.saveBet(bet)" ng-disabled="vm.disabled"><i class="fa fa-floppy-o fa-lg"></i></button>
</div>
<div ng-if="! vm.canBet(start, bet)">
  {{vm.prettyBet(bet)}}
</div>
