<div layout="column" ng-cloak>
<form name="userForm">    
 <md-toolbar md-scroll-shrink ng-if="true">
   <md-list>
        <md-list-item class="md-3-line">
        <better-game-view user="vm.gwt"></better-game-view>
       </md-list-item>
  </md-list>
  <better-filter-view filter-changed="vm.filterChanged()"></better-filter-view>  
</md-toolbar>
</form>
<!-- this are all the user/bets for one game -->
<form name="betsForm">
<md-content flex>
    <md-list>
      <md-list-item class="md-1-line" ng-repeat="gameBet in vm.gameBets">
        <div class="md-list-item-text"  layout-gt-xs="row">
           <better-game-view game="gameBet.game"></better-game-view>
           <better-bet-view bet="gameBet.bet" start="gameBet.game.game.serverStart" gameResult="gameBet.game.result"></better-bet-view>
        </div>
        <md-divider inset></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
 </form>
</div>







  	  <li ng-if="isAdmin() && betClosed(gwt.game.serverStart, currentTime)" class="list-group-item">
   	       <button type="submit" class="btn btn-primary" ng-click="$state.transitionTo('game.gameEdit', {'gamenr': gwt.game.nr})" value="Submit" title="Edit">Set Result</button>
  	  </li>
    </ul>
   </div>


   <!-- this is the users table with bets for this game for each user added; no filter necessary; could be sortable or filterable by username ad hoc-->
   <table ng-table="tableParams" class="betterlist" show-filter="true">
        <tr ng-repeat="bu in $data">
            <td data-title="'icon'">
				<a ui-sref="user.userBets({ username: bu.user.username})">
					<img ng-src="{{bu && bu.user.iconurl+'&s=23'}}" alt="gravatar" width="23" height="23"/>
				</a>
			</td>
			<td data-title="'user'" sortable="'user.username'" filter="{ 'username': 'text' }">
                <a ui-sref="user.userBets({ username: bu.user.username})">{{bu.user.username}}</a>
            </td>
            <td data-title="'points total'" sortable="'user.totalPoints'">
                <span class="badge">{{bu.user.totalPoints}}</span>
            </td>
            <td data-title="'points bet'" sortable="'bet.points'">
                <span class="badge">{{bu.bet.points}}</span>
            </td>
			<td data-title="'bet'">
			    <better-bet bet="bu.bet" start="gwt.game.serverStart"></better-bet>
			</td>
   </table>
</form>


