<better-menu-view>
    <div layout="row" class="activityRow">
       <better-filter-view filter-changed="vm.filterChanged()"></better-filter-view>  
       &nbsp&nbsp&nbsp
       <div>
           <span>All Games</span> 
        </div>
    </div>
</better-menu-view>

<!-- these are all the games -->
<div>
<form name="bodyForm">
<md-content flex>
    <md-list  ng-cloak>
      <md-list-item class="md-1-line" ng-repeat="gwt in vm.allGames">
        <div class="md-list-item-text"  layout-gt-xs="row">
            <better-game-view gwt="gwt" fullcontent="true"></better-game-view>
        </div>
        <md-divider inset></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
 </form>
</div>