<div layout="column" ng-style="virtCont.height()">
<better-menu-view>
    <div layout="row" class="activityRow">
       &nbsp&nbsp&nbsp
       <div> 
            <h3>Edit Game:</h3> 
            <p>currently only setting of results is possible depending on necessity changing of dates, teams will be implemented</p>
        </div>
    </div>
</better-menu-view>
 <md-content  layout="column">
     <better-game-view gwt="vm.gwt" allowedit="true" fullcontent="true"></better-game-view>
     <form>
           <div layout="row"  layout-xs="column" layout-sm="column" layout-align="left center">
               <md-input-container class="betInput">
                  <md-select ng-model="vm.gwt.game.result.goalsTeam1" aria-label="goals team1" ng-disabled="! vm.gameClosed()">
                      <md-option ng-value="nr" ng-repeat="nr in vm.points">{{ nr }}</md-option>
                  </md-select>
               </md-input-container>
               <md-input-container class="betInput">
                  <md-select ng-model="vm.gwt.game.result.goalsTeam2" aria-label="goals team2" ng-disabled="! vm.gameClosed()">
                      <md-option ng-value="nr" ng-repeat="nr in vm.points">{{ nr }}</md-option>
                  </md-select>
              </md-input-container>  
              <md-input-container layout-align="center">
                  <div layout="row" layout-sm="column" layout-margin>
                      <md-button type="submit" title="Submit" class="md-raised" ng-click="vm.submit()" value="Submit" title="Submit" ng-disabled="! vm.gameClosed()">Submit</md-button>
                  </div>
              </md-input-container> 
           </div>
      </form>
   </md-content>
</div>


	
