<div layout="column" ng-style="virtCont.height()">
<better-menu-view>
    <div layout="row" class="activityRow">
       &nbsp&nbsp&nbsp
       <div> 
              <md-button type="submit" title="plot" ng-click="vm.plotBets($event)" value="plot" title="plot">
                  <ng-md-icon icon="insert_chart" size="20"></ng-md-icon>
              </md-button>
           <span>Bets for Game:</span> 
           <better-game-view gwt="vm.gwt" allowedit="true" fullcontent="true"></better-game-view>
        </div>
    </div>
</better-menu-view>
 <md-content  layout="column">
    <md-list ng-cloak>
      <md-list-item class="md-1-line" ng-repeat="bu in vm.betsUsers">
        <div class="md-list-item-text"  layout-gt-xs="row">
            <better-user-view user="bu.user"></better-user-view>
            <better-bet-view bet="bu.bet" start="vm.gwt.game.serverStart" gameResult="vm.gwt.game.result"></better-bet-view>
        </div>
        <md-divider inset></md-divider>
      </md-list-item>
    </md-list>
   </md-content>
</div>




    


