<form class="form col-xs-8" name="gameEditForm" role="form">
    <div class="col-xs-7">
	<ul class="list-group">
       <li class="list-group-item list-group-item-heading">
         {{gwt.game.nr}}  {{gwt.team1.name}}:{{gwt.team2.name}} {{gwt.level.name}}
       </li>
       <li class="list-group-item">
         bet close {{timeLeft(gwt.game.serverStart, currentTime)}}  reward: <span class="badge">{{gwt.level.pointsExact}}/{{gwt.level.pointsTendency}}</span>
       </li>
	   <li class="list-group-item">
		 local: {{gwt.game.localStart | date: DF }} server: {{gwt.game.serverStart | date: DF }}	
	  </li>	
  	  <li ng-if="isAdmin() && betClosed(gwt.game.serverStart, currentTime)" class="list-group-item">
   	       <button type="submit" class="btn btn-primary" ng-click="$state.transitionTo('game.gameEdit', {'gamenr': gwt.game.nr})" value="Submit" title="Edit">Set Result</button>
  	  </li>
    </ul>
   </div>


   <!-- this is the users table with bets for this game for each user added; no filter necessary; could be sortable or filterable by username ad hoc-->
   <table ng-table="tableParams" class="betterlist" show-filter="true">
        <tr ng-repeat="bu in $data">
            <td data-title="'icon'">
				<a ui-sref="user.userBets({ username: bu.user.username})">
					<img ng-src="{{bu && bu.user.iconurl+'&s=23'}}" alt="gravatar" width="23" height="23"/>
				</a>
			</td>
			<td data-title="'user'" sortable="'user.username'" filter="{ 'username': 'text' }">
                <a ui-sref="user.userBets({ username: bu.user.username})">{{bu.user.username}}</a>
            </td>
            <td data-title="'points total'" sortable="'user.totalPoints'">
                <span class="badge">{{bu.user.totalPoints}}</span>
            </td>
            <td data-title="'points bet'" sortable="'bet.points'">
                <span class="badge">{{bu.bet.points}}</span>
            </td>
			<td data-title="'bet'">
			    <better-bet bet="bu.bet" start="gwt.game.serverStart"></better-bet>
			</td>
   </table>
</form>


