<div layout="column" ng-cloak>
<form name="headerForm">    
 <md-toolbar md-scroll-shrink ng-if="true">
   <md-list>
        <md-list-item class="md-2-line">
        <h4>All Games</h4>
       </md-list-item>
  </md-list>
  <better-menu-view></better-menu-view>
  <better-filter-view filter-changed="vm.filterChanged()"></better-filter-view>  
</md-toolbar>
</form>
<!-- this are all the user/bets for one game -->
<form name="bodyForm">
<md-content flex>
    <md-list>
      <md-list-item class="md-1-line" ng-repeat="gwt in vm.allGames">
        <div class="md-list-item-text"  layout-gt-xs="row">
            <better-game-view gwt="gwt" fullcontent="true"></better-game-view>
        </div>
        <md-divider inset></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
 </form>
</div>