
<div layout="column" ng-cloak class="md-inline-form">
    <div>you first have to register to log in</div>
   <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
      <form name="loginForm">
        <div layout="row"  layout-xs="column" layout-sm="column" layout-align="space-between center">
            <div flex-gt-sm="80">
               <md-input-container class="md-block" flex-gt-sm>
                        <label for="username">username</label>
                        <input type="text" name="username" ng-model="vm.username" required autofocus md-placeholder="username"/>
                        <div ng-messages="loginForm.username.$error">
                                  <div ng-message="required">required</div>
                         </div>
                </md-input-container>
               <md-input-container class="md-block" flex-gt-sm>
                       <label for="password">password</label>
                       <input type="password" name="password" ng-model="vm.password" required md-placeholder="password"/>
                       <div ng-messages="loginForm.password.$error">
                                 <div ng-message="required">required</div>
                        </div>
                </md-input-container>
                <md-input-container layout-align="center">
                	<div layout="row" layout-sm="column" layout-margin>
                            <md-button title="Login" ng-click="vm.login()" ng-disabled="!loginForm.$valid" class="md-raised" flex="50" flex-sm="100">Login</md-button>
                        </div>
                </md-input-container>        
            </div>
        </div>
        <a ui-sref="passwordRequest">reset password</a>    
      </form>
  </md-content>
</div>

