<better-menu-view>Request Password</better-menu-view>

<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
      <form name="registerForm">
        <div layout="row"  layout-xs="column" layout-sm="column" layout-align="space-between center">
            <div flex-gt-sm="80">  
                 <md-input-container class="md-block" flex-gt-sm>
                        <label for="email">email</label>
                        <input type="email" name="email" ng-model="vm.email" required/>
                        <div ng-messages="registerForm.email.$error">
                                  <div ng-message="required">Please add a valid e-mail address. The e-mail will not be visible to other users</div>
                         </div>
                 </md-input-container>  
             <div vc-recaptcha key="vm.recaptchasite" on-success="vm.setResponse(response)"></div> 
         </div>
      </div>      
   </form>
</md-content>