<better-menu-view>
    <div layout="row" class="activityRow">
       &nbsp&nbsp&nbsp
       <div>
           <span>Register User</span> 
        </div>
    </div>
</better-menu-view>
    
   <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
      <form name="registerForm">
        <div layout="row"  layout-xs="column" layout-sm="column" layout-align="space-between center">
            <div flex-gt-sm="80">
               <md-input-container class="md-block" flex-gt-sm>
                        <label for="username">username</label>
                        <input type="text" name="username" ng-model="vm.username"
                                  required autofocus md-placeholder="username" 
                                  ng-minlength="3" ng-maxlength="20" ng-pattern="/^[0-9a-zA-Z_\.]+$/" ng-change="vm.uniqueUsername(registerForm)"/>
                        <div ng-messages="registerForm.username.$error">
                                  <div ng-message="required">required</div>
                                  <div ng-message="unique">username exists</div>
                                  <div ng-message="pattern">use only letters, number _ and .</div>
                                  <div ng-message="minlength">length at least 3</div>
                                  <div ng-message="maxlength">length smaller 21</div>
                         </div>
                </md-input-container>
               <!--md-input-container class="md-block" flex-gt-sm>
                       <label for="password1">password</label>
                       <input type="password" name="password1" ng-model="vm.password1" required
                           ng-minlength="6" ng-maxlength="20" md-placeholder="password"/>
                       <div ng-messages="registerForm.password1.$error">
                                 <div ng-message="required">required</div>
                                 <div ng-message="minlength">length at least 6</div>
                                 <div ng-message="maxlength">length smaller 21</div>
                                <div ng-message="identical">passwords don't match</div>
                        </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                        <label for="password2">password</label>
                        <input type="password" name="password2" ng-model="vm.password2" required  
                           ng-minlength="6" ng-maxlength="20" md-placeholder="password" ng-blur="vm.comparePasswords(registerForm)"/>
                        <div ng-messages="registerForm.password2.$error">
                                  <div ng-message="required">required</div>
                                  <div ng-message="minlength">length at least 6</div>
                                  <div ng-message="maxlength">length smaller 21</div>
                                  <div ng-message="identical">passwords don't match</div>
                         </div>
                 </md-input-container-->
                 <!--better-password-view password1="vm.password1" password2="vm.password2" form="registerForm"></better-password-view-->  
                   
                 <md-input-container class="md-block" flex-gt-sm>
                        <label for="email">email</label>
                        <input type="email" name="email" ng-model="vm.email" required/>
                        <div ng-messages="registerForm.email.$error">
                                  <div ng-message="required">Please add a valid e-mail address. The e-mail will not be visible to other users</div>
                         </div>
                 </md-input-container>
                 <md-input-container class="md-block" flex-gt-sm>
                        <label for="firstname">first name</label>
                        <input type="text" name="firstname" ng-model="vm.firstname" required/>
                        <div ng-messages="registerForm.firstname.$error">
                                  <div ng-message="required">Please add your first name</div>
                         </div>
                 </md-input-container>
                 <md-input-container class="md-block" flex-gt-sm>
                        <label for="lastname">last name</label>
                        <input type="text" name="lastname" ng-model="vm.lastname" required/>
                        <div ng-messages="registerForm.lastname.$error">
                                  <div ng-message="required">Please add your last name</div>
                         </div>
                 </md-input-container>

                <md-input-container layout-align="center">
                	<div layout="row" layout-sm="column" layout-margin>
                            <md-button type="submit" title="Submit" class="md-raised" ng-click="vm.signon()" value="Submit" title="Submit" ng-disabled="!registerForm.$valid">Submit</md-button>
                        </div>
                </md-input-container>        
            </div>
        </div>    
      </form>
  </md-content>
</div>





