<div layout="column" ng-style="virtCont.height()">
<better-menu-view>
    <div layout="row" class="activityRow">
       Settings
    </div>
</better-menu-view>
 <md-content md-theme="docs-dark" layout-gt-sm="column" layout-padding>
     <form name="settingsForm" ng-if="vm.isDebug()">
       <div layout="row"  layout-xs="column" layout-sm="column" layout-align="space-between center">
           <div flex-gt-sm="40">
              <md-input-container class="md-block" flex-gt-sm>
                  <label for="timeformat">global time format</label>
                  <md-select id="timeformat" type="text" ng-model="vm.DF" ng-change="vm.setFormat()">
            	      <md-option>MM/dd HH:mm</md-option>
            	      <md-option>MM/dd HH:mm:ss</md-option>
            	      <md-option>yyyy MM/dd HH:mm:ss</md-option>
            	      <md-option>yyyy MM/dd HH:mm:ss,sss</md-option>
            	  </md-select>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                      <label for="refresh">time refresh interval (ms)</label>
                      <input type="number" name="refresh" ng-model="vm.updateInterval" step="1000" ng-change="setUpdateinterval()">
               </md-input-container>
            
        	
               <div flex-gt-sm="40">
                         <md-input-container class="md-block" flex-gt-sm>
                               <label for="dateselect">time</label>
                               <input mdc-datetime-picker date="false" time="true" type="text" id="dateselect"
                                              format="HH:mm"
                                              ng-model="vm.time"/>
                        </md-input-container>                 
                        <md-input-container class="md-block" flex-gt-sm>
                              <label for="timeselect">date</label>
                              <input mdc-datetime-picker date="true" time="false" type="text" id="timeselect" short-time="false"
                                          format="YYYY-MM-DD"
                                          ng-model="vm.date"/>
                       </md-input-container>

                        <md-input-container layout-align="center">
                        	<div layout="row" layout-sm="column" layout-margin>
                                    <md-button type="button" title="Submit Date" class="md-raised" ng-click="vm.submitDate()" value="Submit Date" title="Submit Time">Submit  Date</md-button>
                                    <md-button type="button" title="Submit Time" class="md-raised" ng-click="vm.submitTime()" value="Submit Time" title="Submit Time">Submit Time</md-button>
                                    <md-button type="button" title="Reset Time" class="md-raised" ng-click="vm.resetTime()" value="Reset Time" title="Reset Time">Reset Time</md-button>
                                </div>
                        </md-input-container> 
                    </div>
        	</div>
             </div>   
       </form>
       
       <form name="mailForm" ng-if="vm.userService.loggedInUser.isAdmin"> 
         <div flex-gt-sm="30"  >
                Please don't change this password. Its necessary for sending e-mails!
               <md-input-container class="md-block">
                          <label for="mailpassword">mail password</label>
                          <input type="password" name="mailpassword" maxlength="20" ng-model="vm.mailpassword"/>
                         <md-button type="button" title="Submit Password" class="md-raised" ng-click="vm.submitPassword()" value="Submit Password" title="Submit Password">Submit Password</md-button>
                 </md-input-container>
           </div>
       </form>
       
   </md-content>
</div>


 


         



