<div layout="column" ng-cloak>
     <md-toolbar md-scroll-shrink ng-if="true">
       <md-list>
            <md-list-item class="md-3-line">
            <h4>Settings</h4>
           </md-list-item>
      </md-list>
     </md-toolbar>
     <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
     <form name="settingsForm" ng-if="vm.isDebug()">
       <div layout="row"  layout-xs="column" layout-sm="column" layout-align="space-between center">
           <div flex-gt-sm="80">
              <md-input-container class="md-block" flex-gt-sm>
                  <label for="timeformat">global time format</label>
                  <md-select id="timeformat" type="text" ng-model="vm.DF" ng-change="setFormat()">
            	      <md-option>MM/dd HH:mm</md-option>
            	      <md-option>MM/dd HH:mm:ss</md-option>
            	      <md-option>yyyy MM/dd HH:mm:ss</md-option>
            	      <md-option>yyyy MM/dd HH:mm:ss,sss</md-option>
            	  </md-select>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                      <label for="refresh">time refresh interval (ms)</label>
                      <input type="number" name="refresh" ng-model="vm.updateInterval" ng-change="setUpdateinterval()">
               </md-input-container>
            
        	
                      <div flex-gt-sm="80">
                         <md-input-container class="md-block" flex-gt-sm>
                               <label for="dateselect">date</label>
                               <input mdc-datetime-picker date="true" time="false" type="text" id="dateselect"
                                              format="hh:mm"
                                              ng-model="vm.date"/>
                        </md-input-container>                 
                        <md-input-container class="md-block" flex-gt-sm>
                              <label for="timeselect">time</label>
                              <input mdc-datetime-picker date="false" time="true" type="text" id="timeselect" short-time="false"
                                          format="YYYY-MM-DD"
                                          ng-model="vm.date"/>
                       </md-input-container>

                        <md-input-container layout-align="center">
                        	<div layout="row" layout-sm="column" layout-margin>
                                    <md-button type="button" title="Reset Time" class="md-raised" ng-click="vm.resetTime()" value="Reset Time" title="Reset Time">Reset Time</button>
                                </div>
                        </md-input-container> 
                    </div>
        	</div>
             </div>   
       </form>
   </md-content>
</div>
         



