<div layout="column" class="mainMenu"> 
  <md-toolbar md-scroll-shrink ng-if="true">
    <better-menu-view></better-menu-view>
    <div layout="row" class="activityRow">
     <md-button type="submit" value="excel"  class="md-raised" title="excel" href="api/statistics/excelAnon">
           excel
     </md-button>
    </div>
 </md-toolbar>
</div>


<special-bets-plot betname="'champion'"></special-bets-plot>
<special-bets-plot betname="'semifinalist'"></special-bets-plot>
<special-bets-plot betname="'mvp'"></special-bets-plot>
<special-bets-plot betname="'topscorer'"></special-bets-plot>

