<div layout="column" ng-cloak>
<form name="headerForm">    
 <md-toolbar md-scroll-shrink ng-if="true">
   <md-list>
        <md-list-item class="md-2-line">
        {{vm.getTime() | date: vm.DF}}
        <better-user-view user="vm.user" full="true"></better-user-view>
       </md-list-item>
  </md-list>
  <better-menu-view user="vm.user"/>
  <better-filter-view filter-changed="vm.filterChanged()"></better-filter-view>  
</md-toolbar>
</form>
<!-- this are all the bets for one user -->
<form name="bodyForm">
<md-content flex>
    <md-list>
      <md-list-item class="md-1-line" ng-repeat="gameBet in vm.gameBets">
        <div class="md-list-item-text"  layout-gt-xs="row" layout-align-gt-xs="space-between center">
           <better-game-view gwt="gameBet.game"></better-game-view>
           <better-bet-view bet="gameBet.bet" start="gameBet.game.game.serverStart" gameResult="gameBet.game.result"></better-bet-view>
        </div>
        <md-divider inset></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
 </form>
</div>




  