<div layout="column" ng-cloak>
<form name="userForm">    
 <md-toolbar md-scroll-shrink ng-if="true">
   <md-list>
        <md-list-item class="md-3-line">
        {{vm.getTime() | date: vm.DF}}
         <img ng-src="{{vm.user && vm.user.iconurl+'&s=80'}}" alt="{{vm.user.username}}" class="md-avatar"/>
         <div><a ui-sref="user">{{vm.user.username}} <span class="badge bg-points">{{vm.user.totalPoints}}</span></div>
         <a ui-sref="user.specialBets({'username': vm.user.username})"><md-button type="submit" value="Submit"  class="md-raised" title="Special Bets">Special Bets</md-button></a>
       </md-list-item>
  </md-list>
  <better-filter-view filter-changed="vm.filterChanged()"></better-filter-view>  
</md-toolbar>
</form>
<!-- this are all the bets for one user -->
<form name="betsForm">
<md-content flex>
    <md-list>
      <md-list-item class="md-1-line" ng-repeat="gameBet in vm.gameBets">
        <div class="md-list-item-text">
           <better-game-view game="gameBet.game"></better-game-view>
           <better-bet-view bet="gameBet.bet" start="gameBet.game.game.serverStart" gameResult="gameBet.game.result"></better-bet-view>
        </div>
        <md-divider inset></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
 </form>
</div>




  