<div layout="column" ng-style="virtCont.height()">
<better-menu-view>
    <div layout="row" class="activityRow">
       &nbsp&nbsp&nbsp
       <div>
           <h3 ng-if="vm.specialBetsOpen() && vm.isIdentical()">You can change these special bets <em>only until</em> ~ 1hr before start of the games</h3>
           <div ng-if="! vm.isIdentical()">
               Special Bets: <a ui-sref="user.userBets({'username': vm.user.username})">
                     <img ng-src="{{ vm.user.iconurl+'&s=25' }}" alt="{{vm.user.username}}" class="md-avatar" ng-if="vm.user.iconurl" style="margin: 0px 2px 0px 10px; border-radius: 50%;"/>
                 {{vm.user.username}}<span class="badge-large {{vm.badgecolor()}}" style="margin: 0px 2px 0px 10px;">{{vm.user.totalPoints}}</span>
                 </a>
            </div>
        </div>
    </div>
</better-menu-view>

<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
            <div layout="row"  layout-xs="column" layout-sm="column" layout-align="space-between center">
                <div flex-gt-sm="140">
                      <form name="specialBetsForm">
                          <md-table-container>
                            <table md-table>
                              <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                                <tr md-row>
                                  <th md-column>description</th>
                                  <th md-column md-numeric>reward</th>
                                  <th md-column ng-if="! vm.specialBetsOpen()">result</th>
                                  <th md-column></th>
                                  <th md-column>prediction</th>
                                  <th md-column md-numeric ng-if="! vm.specialBetsOpen()">points</th>
                                </tr>
                              </thead>
                              <tbody md-body>
                                <tr md-row ng-repeat="bet in vm.templateBets">
                                  <td md-cell>{{bet.template.description}}</td>
                                  <td md-cell><span class="badge">{{bet.template.points}}</span></td>
                                  <td md-cell ng-if="! vm.specialBetsOpen()">{{bet.template.result}}</td>
                                  <td md-cell>
                                      <md-input-container ng-if="vm.canBet(bet)">
                                          <md-button type="submit" class="md-raised" ng-click="vm.change(bet)" value="set" title="set">set</md-button>
                                      </md-input-container>
                                      <md-input-container ng-if="vm.user.isAdmin && ! vm.specialBetsOpen() && vm.setresult">
                                          <md-button type="submit" class="md-raised" ng-click="vm.change(bet)" value="set result" title="set result">set result</md-button>
                                      </md-input-container>
                                  </td>
                                  <td md-cell>{{bet.bet.prediction}}</td>
                                  <td md-cell ng-if="! vm.specialBetsOpen()"><span class="badge">{{bet.bet.points}}</span></td>
                                </tr>
                              </tbody>
                            </table>
                          </md-table-container>         
                          <md-divider></md-divider>
                           <div ng-if="vm.user.isAdmin && ! vm.specialBetsOpen()">
                               <h3 >As admin you can set the result when clicking the checkbox, be careful!</h3>
                               <md-input-container class="md-block" flex-gt-sm>
                                        <md-checkbox name="set result" ng-model="vm.setresult" aria-label="set result" ng-change="vm.showConfirm()">set result</md-checkbox>
                                </md-input-container>
                          </div>         
                    </form> 
            </div>
        </div>
</md-content>        
</div>