<form name="playerForm" class="form col-xs-5" role="form">
   <ul class="list-group">
      <li class="list-group-item list-group-item-heading">
		 {{tb.template.name}} <span class="badge">{{tb.template.points}}</span>
	  </li>
      <li class="list-group-item">
		  please select one player from the list by clicking the checkbox
	  </li>
   </ul>
   
   <table ng-table="tableParams" show-filter="true" class="table">
        <tr ng-repeat="pt in $data" >
            <td>
			    <input type="checkbox" ng-model="pt.selected" ng-change="selectPlayer()"> 
			</td>
			<td data-title="'name'" filter="{ 'name': 'text' }" sortable="'name'">
                 {{pt.name}}
            </td>
            <td data-title="'team'" filter="{ 'tname': 'text' }" sortable="'tname'">
                 {{pt.team.name}}
            </td>
        </tr>
   </table>
</form>  