<div layout="column" ng-cloak>
<form name="headerForm">    
 <md-toolbar md-scroll-shrink ng-if="true">
   <md-list>
        <md-list-item class="md-3-line">
        <h4>All Users</h4>
       </md-list-item>
  </md-list>
  <better-menu-view user="vm.user"/>
</md-toolbar>
</form>
<!-- this are all the user/bets for one game -->
<form name="bodyForm">
<md-content flex>
    <md-list>
      <md-list-item class="md-1-line" ng-repeat="user in vm.allUsers">
        <div class="md-list-item-text"  layout-gt-xs="row">
            <better-user-view user="user"></better-user-view>
        </div>
        <md-divider inset></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
 </form>
</div>