<div layout="column" ng-style="virtCont.height()">
<better-menu-view>
    <div layout="row" class="activityRow">
       <better-filter-view filter-changed="vm.filterChanged()" filter-bet="true"></better-filter-view>  
       &nbsp&nbsp&nbsp
       <div>
           <span>Bets:</span> 
           <a ui-sref="user.userBets({'username': vm.user.username})">
                     <img ng-src="{{ vm.user.iconurl+'&s=25' }}" alt="{{vm.user.username}}" class="md-avatar" ng-if="vm.user.iconurl" style="margin: 0px 2px 0px 10px; border-radius: 50%;"/>
                  {{vm.user.username}}<span class="badge-large {{vm.badgecolor()}}" style="margin: 0px 2px 0px 10px;">{{vm.user.totalPoints}}</span>
           </a>
        </div>
    </div>
</better-menu-view>

<md-content flex>
    <md-list ng-cloak>
      <md-list-item class="md-1-line" ng-repeat="gameBet in vm.gameBets">
        <div class="md-list-item-text"  layout-gt-xs="row" layout-align-gt-xs="space-between center">
           <better-game-view gwt="gameBet.game"></better-game-view>
           <better-bet-view bet="gameBet.bet" start="gameBet.game.game.serverStart" gameresult="gameBet.game.game.result"></better-bet-view>
        </div>
        <md-divider inset></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
</div>




