<div layout="column" class="mainMenu"> 
  <md-toolbar md-scroll-shrink ng-if="true">
    <better-menu-view></better-menu-view>
    <div layout="row" class="activityRow">
       <!-- TODO: user name filter -->  
       &nbsp&nbsp&nbsp
       <div>
           <span>All Users</span> 
        </div>
    </div>
 </md-toolbar>
</div>

<div>
</form>
<!-- these are all the users -->
<form name="bodyForm">
<md-content flex>
    <md-list ng-cloak>
      <md-list-item class="md-1-line" ng-repeat="user in vm.allUsers">
        <div class="md-list-item-text"  layout-gt-xs="row">
            <better-user-view user="user"></better-user-view>
        </div>
        <md-divider inset></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
 </form>
</div>