
<div>
  <form (ngSubmit)="submit()" [formGroup]="editForm">


  <div formGroupName="passwords">
      <div class="registerfield">
        <mat-form-field>
          <input matInput placeholder="password" formControlName="password" required>
          <!--mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error-->
        </mat-form-field>
      </div>
      <div class="registerfield">
        <mat-form-field>
          <input matInput placeholder="confirm password" formControlName="confirm_password" required>
          <!--mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error-->
        </mat-form-field>
      </div>
  </div>



  <button mat-button type="submit" value="submit" title="submit" [disabled]="!editForm.valid">
      submit
  </button>
 </form>
</div>
